<%- include('partials/head', {title: "Home"}); %>
<body class="d-flex flex-column vh-100">
    <%- include('partials/header') %>
    <main class="container vh-75">
        <h2 class="text-center mb-5">Books</h2>
        <input type="text" id="search-bar" class="p-2 m-3" placeholder="Search for book/author">
        <div class="container d-flex flex-wrap books-continer">  
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts', {page: "home"}); %>
</body>
</html>