<%- include('partials/head', {title: "Statistics"}); %>
<body class="d-flex flex-column vh-100">
    <%- include('partials/header') %>
    <main class="container vh-75 flex">
        <h5 class="text-center">Statistics Panel</h5>
        <div class="d-flex">
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts', {page: "statistics"}); %>
</body>
</html>