<%- include('partials/head', {title: "Users"}); %>
<body class="d-flex flex-column vh-100">
    <%- include('partials/header') %>
    <main class="container vh-75 justify-content-center text-center">
        <h5>Users Panel</h5>
        <div class="col-3">
            <input type="text" id="search-input" placeholder="Search users..." class="form-control mb-3">
        </div>
        <table class="table users-table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Admin</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody class="users">

            </tbody>
        </table>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts', {page: "users"}); %>
</body>
</html>