<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Locations</title>
    <style>
        #google_map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Our Stores Locations</h1>
    <div id="google_map"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapKey %>&loading=async&callback=initMap&libraries=marker"></script>

    <script>
        const stores = JSON.parse('<%- JSON.stringify(stores) %>');
        console.log("Stores data:", stores); 
    
        function initMap() {
            const defaultCenter = { lat: 32.321457, lng: 34.853195 }; // Default center
            const map = new google.maps.Map(document.getElementById('google_map'), {
                center: defaultCenter,
                zoom: 5,
                mapId: '<%= googleMapId %>'
            });

            stores.forEach(store => {
                if (store.address.latitude && store.address.longitude) {
                    const position = {
                        lat: parseFloat(store.address.latitude),
                        lng: parseFloat(store.address.longitude)
                    };

                    const marker = new google.maps.marker.AdvancedMarkerElement({
                        position: position,
                        map: map,
                        title: store.name
                    });

                    const infoWindow = new google.maps.InfoWindow({
                        content: `<h4>${store.name}</h4><p>${store.address.street}, ${store.address.city}, ${store.address.country}</p>`
                    });

                    marker.addListener('click', function() {
                        infoWindow.open(map, marker);
                    });
                } else {
                    console.error("Invalid coordinates for store:", store.name);
                }
            });
        }
    </script>
</body>
</html>